<div *ngIf="novaInformacao" class="info">
  {{ info }}
</div>
{{ palavra }}


<div>

  <h1 class="titulo-pagina">Bem vindo Ao Jogo da Forca! Vai morrer ou viver?</h1>
  <h3 class="num-tentativas">Tentativas restantes: {{ tentativas }}</h3>


  <form action="" class="form-letra">
    <input type="text" name="letra" placeholder="Digite um letra" #letra>
    <button (click)="verificarLetra(letra)">Verificar</button>
    <button (click)="gerarPalavra()">Nova Palavra</button>
  </form>
</div>


<div class="palavra-secreta" [ngClass]="{win: win == true}">
    <h1>A palavra secreta contém {{ secreta.length }} letras</h1>
  <span class="letra" *ngFor="let sec of secreta" #letra>{{ sec }}</span>
</div>
